<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Guestbook</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            

                            <div class="add-todo-form text-center">
    <h1>Add Todo</h1>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="Add Todo..." autofocus #todoText>
        <br>
        <button (click)="addTodos($event,todoText)" class="btn btn-primary btn-block">Create</button>
    </div>
</div>

<div class="todo-list">
    <div *ngFor = "let todo of todos">
        <div class="col-md-1">
            <input type="checkbox">
        </div>
        <div class="col-md-7">
            
        </div>
        <div class="col-md-4 btns">
            <input type="button" class="btn btn-danger pull-right" value="Delete">
            <input type="button" class="btn btn-default pull-right" value="Edit">
        </div>
    </div>
</div>


        </div>
    </div>

</div>
















<div class="add-todo-form text-center">
    <h1>Add Todo</h1>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="Add Todo..." autofocus #todoText>
        <br>
        <button (click)="addTodos($event,todoText)" class="btn btn-primary btn-block">Create</button>
    </div>
</div>

<div class="todo-list">
    <div *ngFor = "let todo of todos">
        <div class="col-md-1">
            <input type="checkbox">
        </div>
        <div class="col-md-7">
            {{todo.text}}
        </div>
        <div class="col-md-4 btns">
            <input type="button" class="btn btn-danger pull-right" value="Delete">
            <input type="button" class="btn btn-default pull-right" value="Edit">
        </div>
    </div>
</div>