<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <li style="padding:20px;"><a class="navbar-brand">Welcome {{username}}</a></li>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding:20px;"><button *ngIf="is_admin" class="btn-primary btn btn-lg" data-toggle="modal" data-target="#addModal">Add New</button></li>
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="addModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="container col-md-offset-2 col-md-8 col-xs-12">
                                    <h3>Add New Admin/Receptionist</h3>
                                    <!-- Add modal starts here -->
                                    <form [formGroup]="addForm">
                                        <div class="formGroup">
                                            <br/>
                                            <label for="username">Name</label>
                                            <input type="text" formControlName="useraddname" class="form-control" name="username" placeholder="Enter Name" #useraddname>
                                            <div *ngIf="addForm.controls.useraddname.hasError('minlength')"> Visitor Name is Required </div>
                                            <br/>
                                            <label for="password">Email</label>
                                            <input type="email" formControlName="useraddemail" class="form-control" name="password" placeholder="xyz@tudip.nl" #useraddemail>
                                            <div *ngIf="addForm.controls.useraddemail.hasError('pattern')"> Visitor Email is Required </div>
                                            <br/>
                                            <select class="form-control" id="userrole" #userrole>
                                                <option>admin</option>
                                                <option>receptionist</option>
                                            </select>
                                            <br/>
                                            <label for="conf-password">Password</label>
                                            <input type="password" formControlName="useraddpassword" class="form-control" name="useraddpassword" placeholder="Password"
                                                #useraddpassword>
                                                <div *ngIf="addForm.controls.useraddpassword.hasError('minlength')"> At least 6 characters are required </div>
                                                <br/>
                                                <button type="button" (click)="addUser($event,useraddname,useraddemail,userrole,useraddpassword)" [disabled]="!addForm.valid"
                                                    class="btn btn-default">Add User</button>
                                        </div>
                                    </form>
                                    <!-- Add modal ends here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <li style="padding:20px;"><input type="text" class="input-lg" placeholder="Search Visitors" autofocus #searchvisitor>
                    <button data-toggle="modal" (click)="searchVisitor($event, searchvisitor)" data-target="#searchModal"><i class="glyphicon glyphicon-search"></i></button>
                </li>
                <!-- Modal starts here -->
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="searchModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="container col-md-12">
                                    <h3>Searched Visitors</h3>
                                    <h4 *ngIf="!(search_modal)" class="text-center">No Data Found</h4>
                                    <table *ngIf="(search_modal)" class="table table-condensed table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Contact</th>
                                                <th>Check-In Time</th>
                                                <th>Check-In Date</th>
                                                <th>Check-Out Time</th>
                                                <th>Check-Out Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of searched_data">
                                                <td>{{data.visitor_name}}</td>
                                                <td>{{data.visitor_email}}</td>
                                                <td>{{data.visitor_contact}}</td>
                                                <td>{{data.visitor_intime}}</td>
                                                <td>{{data.visitor_indate}}</td>
                                                <td>{{data.visitor_outdate}}</td>
                                                <td>{{data.visitor_outtime}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal ends here -->
                <li style="padding:20px;"><a class="navbar-brand" role="button" (click)="onLogOut()">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h1 style="text-align : center">Add Visitors</h1>
        <div>
            <form [formGroup]="dashboardForm">
                <table class="col-md-10 col-md-offset-1 table-condensed table-responsive">
                    <tr>
                        <td>
                            <input type="text" class="form-control input-lg" formControlName="visitorname" placeholder="Visitor Name..." autofocus #visitorname>
                            <div *ngIf="dashboardForm.controls.visitorname.hasError('minlength')"> Visitor Name is Required </div>
                            <div *ngIf="dashboardForm.controls.visitorname.hasError('pattern')"> Enter a valid name </div>
                        </td>
                        <td>
                            <input type="email" class="form-control input-lg" formControlName="visitoremail" placeholder="Visitor Email..." #visitoremail>
                            <div *ngIf="dashboardForm.controls.visitoremail.hasError('pattern')"> Visitor Email is Required </div>
                        </td>
                        <td>
                            <input type="number" class="form-control input-lg" pattern="[1-9][0-9]{9}" formControlName="visitorcontact" placeholder="Visitor Contact..."
                                #visitorcontact>
                                <div *ngIf="(dashboardForm.controls.visitorcontact.hasError('minlength'))"> Enter a valid Contact </div>
                                <div *ngIf="(dashboardForm.controls.visitorcontact.hasError('pattern'))">Enter a valid Contact</div>
                        </td>
                        <td>
                            <button type="button" [disabled]="!dashboardForm.valid" (click)="addVisitor($event,visitorname,visitoremail,visitorcontact)"
                                class="btn btn-success btn-lg">Add Visitor</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-12">
            <div class="add-todo-form text-center">
                <br/><br/>
            </div>
            <div class="todo-list">
                <!-- <h3 *ngIf="!(dashboard_data)" class="text-center">No data to display</h3> -->
                <table class="table table-hover" [mfData]="data" #mf="mfDataTable">
                    <thead>
                        <tr>
                            <th>
                                <mfDefaultSorter by="visitor_name"> Visitor Name</mfDefaultSorter>
                            </th>
                            <th *ngIf="is_admin">
                                <mfDefaultSorter by="visitor_host_name">Receptionist Name</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="visitor_email">Visitor Email</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="visitor_contact">Contact</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="visitor_indate">In Date</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="visitor_intime">Check In Time</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="visitor_outdate">Out Date</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="visitor_outtime">Check-Out Time</mfDefaultSorter>
                            </th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let saved_data of mf.data">
                            <td>{{saved_data.visitor_name}}</td>
                            <td *ngIf="is_admin">{{saved_data.visitor_host_name}}</td>
                            <td>{{saved_data.visitor_email}}</td>
                            <td>{{saved_data.visitor_contact}}</td>
                            <td>{{saved_data.visitor_indate}}</td>
                            <td>{{saved_data.visitor_intime}}</td>
                            <td>{{saved_data.visitor_outdate}}</td>
                            <td>{{saved_data.visitor_outtime}}</td>
                            <td><input type="button" (click)="editVisitor(saved_data)" class="btn btn-default pull-right" value="Edit"></td>
                            <td>
                                <input type="button" (click)="deleteVisitor(saved_data)" class="btn btn-danger pull-right" value="Delete"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="snackbar"></div>